<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script >
    $(document).ready(function () {
        userId = '@ViewBag.UserId';
        if (document.getElementById("GameId").value == "") {
            document.getElementById("GameId").value = 0;
            createNewGame();
        }
    });

    function createNewGame() {

        var user = { UserId: userId, IsWaitChallenger: false};

        $.ajax({
            url: '/Api/GameApi/NewGame',
            type: 'POST',
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify(user),
            success: function (data) {
                document.getElementById('GameId').value = data.GameId;
                document.getElementById('Player').innerHTML += data.Player_Name_1 + '!';
            }
        });
    }


    function createWaitPlay() {
        //var stage = { UserId: $('#UserId').val(), GameId: $('#GameId').val() };
        var stage = { UserId: userId, GameId: document.getElementById("GameId").value };

        $.ajax({
            url: '/Api/Stage/WaitPlay',
            type: 'POST',
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify(stage),
            success: function (data) {

            }
        });

    }

    

    function createPlay() {        
        
        if ($('.circle.gray').length != 0) {
            alert('Please select color on gray circles');
            return false;
        }

        var cores = document.getElementsByClassName("Colors")[0].getElementsByTagName("div");
        var sequencia = document.getElementsByClassName("stage tr_clone")[0].getElementsByTagName("div");

        var sequenciaJogador = "";

        for (var i = 0; i <= 8; i++) {
            if (sequencia[i].className.indexOf("circle") >= 0)
            for (var j = 0; j <= 8; j++) {
                if (sequencia[i].className == cores[j].className) {
                    sequenciaJogador += j.toString();
                    break;
                }
            }
        }
        
        var stage = { PlayerSequence: sequenciaJogador, UserId: userId, GameId: document.getElementById("GameId").value };

        $.ajax({
            url: '/Api/Stage/AddPlay',
            type: 'POST',
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify(stage),
            success: function (data) {
                check_pegs(data.StageCheck);
                if (data.IsMatch == 0) {
                    AddStage();
                } else {
                    alert("You Won");
                    window.location.replace("/Home/Index");
                }
            }
        });        
    }

    function check_pegs(result) {
        var resultado = document.getElementsByClassName("stage tr_clone")[0].getElementsByClassName("GameResult")[0].getElementsByTagName("div");

        var i = 0;

        var ok = result.substring(0,1);
        var close = result.substring(1,2);

        while (ok > 0) {
            resultado[i].className = "circle-lt black";
            i++;
            ok--;
        }
        while(close > 0){
            resultado[i].className = "circle-lt white";
            i++;
            close--;
        }      
        
    }

</script>
<input hidden="hidden" id="GameId" />

<div class="defaultcursor">
    <div id="Game" style="width:800px; margin:0 auto;">
        <div id="Player" class="TitleCheck" style="width:771px;font-family:Arial; font-size:medium; color:white;float:left !important;">Riddle me this </div>
        <br/>
        <table id="table-data" cellpadding="2" style="float:left;" >
            <tbody>
                <tr class="Colors">
                    <td><div>Colors</div></td>
                    <td><div class="circle red" style="cursor:pointer"></div></td>
                    <td><div class="circle green" style="cursor:pointer"></div></td>
                    <td><div class="circle blue" style="cursor:pointer"></div></td>
                    <td><div class="circle black" style="cursor:pointer"></div></td>
                    <td><div class="circle orange" style="cursor:pointer"></div></td>
                    <td><div class="circle pink" style="cursor:pointer"></div></td>
                    <td><div class="circle lemon" style="cursor:pointer"></div></td>
                    <td><div class="circle white" style="cursor:pointer"></div></td>
                </tr>
                <tr id="1" class="stage tr_clone">
                    <td><div>Stage 1</div></td>
                    <td><div class="circle gray"></div></td>
                    <td><div class="circle gray"></div></td>
                    <td><div class="circle gray"></div></td>
                    <td><div class="circle gray"></div></td>
                    <td><div class="circle gray"></div></td>
                    <td><div class="circle gray"></div></td>
                    <td><div class="circle gray"></div></td>
                    <td><div class="circle gray"></div></td>
                    <td class="GameResult">
                        <table cellpadding="2">
                            <tr>
                                <td><div class="circle-lt gray"></div></td>
                                <td><div class="circle-lt gray"></div></td>
                                <td><div class="circle-lt gray"></div></td>
                                <td><div class="circle-lt gray"></div></td>
                            </tr>
                            <tr>
                                <td><div class="circle-lt gray"></div></td>
                                <td><div class="circle-lt gray"></div></td>
                                <td><div class="circle-lt gray"></div></td>
                                <td><div class="circle-lt gray"></div></td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <input id="checkButton" type="button" value="Check" class="1 addButton tr_clone_add buttonCheck" style="float:left;" />
                    </td>
        </table>

    </div>
</div>
