<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://krevteammastermindvanhackathon.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>krevteammastermindvanhackathon.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>KrevTeamMastermindVanHackathon</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$KrevTeamMastermindVanHackathon</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MastermindEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:krevteam.database.windows.net,1433;Initial Catalog=Mastermind;User ID=krevteam@krevteam.database.windows.net;Password=qwe-9asd" Name="Data Source=tcp:krevteam.database.windows.net,1433;Initial Catalog=Mastermind;User Id=krevteam@krevteam.database.windows.net;Password=qwe-9asd" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MasterMindApi.Models.MastermindEntities, MasterMindApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MastermindEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.MastermindModel.csdl|res://*/Models.MastermindModel.ssdl|res://*/Models.MastermindModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:krevteam.database.windows.net,1433;Initial Catalog=Mastermind;User Id=krevteam@krevteam.database.windows.net;Password=qwe-9asd"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>